@media (max-width: 768px) {
  .header {
    background: url(../img/background4802.jpg);
  }
  .wrapper {
    width: 440px;
  }
  .header-menu {
    padding-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu li:not(:first-child) {
    display: none;
  }
  /* ------------slider-------------- */
  .slider {
    padding-left: 20px;
    padding-bottom: 195px;
  }
  .slider p {
    display: none;
  }
  .str-one {
    font-size: 36px;
    line-height: 36px;
  }
  .str-two {
    font-size: 18px;
    line-height: 18px;
  }
  .slider img {
    width: 190px;
    height: 304px;
    right: 10px;
  }
  .navigation {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    bottom: 60px;
  }
  .slide .slid-right {
    right: -35px;
  }
  .slide .slid-left {
    left: -13px;
  }
  /* --------purple-gradient-------- */
  .purple-gradient {
    height: 596px;
  }
  .purple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 25px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 430px;
    height: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 25px;
  }
  .READ-MORE {
    padding-left: 310px;
    padding-top: 15px;
  }
  .COMPANY {
    padding-left: 11px;
  }
  .about p {
    height: 68px;
    width: 370px;
    overflow: hidden;
  }
  /* ---------start here---------- */
  .start-here {
    height: 785px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start-left {
    width: 435px;
    padding-top: 100px;
  }
  .start-right {
    width: 435px;
    padding-top: 50px;
  }
  .bubble {
    width: 400px;
    height: 230px;
    top: 70px;
  }
  .bubble:before {
    top: 260px;
    border-top: 25px solid transparent;
  }
  .start-left p {
    width: 350px;
  }
  .start-right p {
    width: 350px;
    height: 30px;
  }
  .recent {
    width: 410px;
    overflow: hidden;
  }
  .READ-HERE {
    padding-left: 270px;
  }
  .start-center {
    height: 272px;
    margin-top: 80px;
  }
  .logoss {
    height: 272px;
    width: 410px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logoss img {
    padding: 0 25px;
  }
  .start-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 668px;
  }
  .categories {
    width: 440px;
    margin-top: 30px;
  }
  .categories p {
    overflow: hidden;
    height: 90px;
  }
  .footer {
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-out {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-in {
    width: 440px;
  }
}
/*# sourceMappingURL=media768.css.map */